<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" name="DocFlow" packades="org.apache.logging.log4j.core" monitorInterval = "30">

    <Properties>
        <Property name="log.level">${sys:log.level:-INFO}</Property>
        <Property name="project.name">docflow</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>[%t] %p %c{2}: %m%n</Pattern>
            </PatternLayout>
        </Console>
        
        <File name="File"
              fileName="/var/log/${project.name}/${project.name}.log"
              ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %p %c{2}: %m%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>
        <Root level="${log.level}">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>