<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Исходящие</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<div class="container-fluid">
    <div class="w-100">
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <i class="fas fa-book-dead"></i>
                Документооборот
            </a>
        </nav>
    </div>

    <div class="row">
        <div class="col-sm-2" >
            <div th:replace="~{sidebar}" />
        </div>
        <div class="col-sm-10" >
            <div class="row">
                <div class="col-sm-12" >
                    <a role="button"
                       aria-pressed="true"
                       class="btn btn-secondary"
                       data-toggle="modal"
                       href="#newDocOut"
                       th:onclick="'javascript:openModal(-1);'">Создать исходящий документ</a>

                    <a role="button" aria-pressed="true" class="btn btn-secondary" href="#">Отозвать</a>
                    <a role="button" aria-pressed="true" class="btn btn-secondary" href="#">Сгенерировать</a>
                    <a role="button" aria-pressed="true" class="btn btn-secondary" href="#">Отправить</a>
                    <a role="button"
                       aria-pressed="true"
                       class="btn btn-secondary"
                       data-toggle="modal"
                       href="#delDocOut">Удалить</a>
                       <!--th:onclick="'javascript:deleteDocOut(\'' + ${docs.id} + '\');'">Удалить</a>-->
                    <input type="text" class="input-medium search-query" name="s" value="">
                    <button type="submit" class="add-on"> Поиск</button>


                    <div class="row">
                        <div class="col-sm-12" >
                            <table class="table table-bordered table-sm">
                                <thead class="thead-dark">
                                <tr>
                                    <th>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value=" ">
                                            </label>
                                        </div>
                                    </th>
                                    <th>Номер</th>
                                    <th>Дата</th>
                                    <th>Тип документа</th>
                                    <th>Отправитель</th>
                                    <th>Статус</th>
                                    <th>Адресат</th>
                                    <th><i class="far fa-file"></i>Приложение</th>
                                </tr>
                                </thead>



                                <tbody>
                                <tr>
                                    <form th:action="@{/docs/out}"  method="GET">
                                        <td></td>
                                        <td><input th:value="${param.number != null} ? ${param.number}" class="form-control" th:name="number" type="text"></td>
                                        <td class="inline">
                                            <input th:value="${param.createDateMin != null} ? ${param.createDateMin}" class="form-control" th:name="createDateMin" type="date">
                                            <input th:value="${param.createDateMax != null} ? ${param.createDateMax}" class="form-control" th:name="createDateMax" type="date">
                                        </td>
                                        <td>
                                            <select class="form-control" th:name="docTypeId">
                                                <option th:text="' '" th:value="null"/>
                                                <option th:each="docT : ${docTypes}" th:text="${docT.name}" th:value="${docT.id}" th:selected="${{param.docTypeId}} == ${{docT.id}}" />
                                            </select>
                                        </td>

                                        <td><input th:value="${param.creator != null} ? ${param.creator}" class="form-control" th:name="creator" type="text"></td>
                                        <td>
                                            <select class="form-control" th:name="stateId">
                                                <option th:text="' '" th:value="null"/>
                                                <option th:each="state : ${states}" th:text="${state.name}" th:value="${state.id}" th:selected="${{param.stateId}} == ${{state.id}}" />
                                            </select>
                                        </td>
                                        <td><input th:value="${param.address != null} ? ${param.address}" class="form-control" th:name="address" type="text"></td>
                                        <td></td>
                                        <td><button type="submit" class="btn btn-primary">Применить</button></td>
                                    </form>
                                </tr>

                                <tr th:each="docOutDTO : ${docs.getContent()}">
                                    <td><input type="checkbox" value=" " /></td>
                                    <td>
                                        <a role="button"
                                           aria-pressed="true"
                                           data-toggle="modal"
                                           href="#showDoc"
                                           th:text="${docOutDTO.number}"
                                           th:onclick="'javascript:openModal(\'' + ${docOutDTO.id} + '\');'"
                                           th:data-docOutDTO="${docOutDTO}"
                                           th:data-createDate="${createDate}"
                                           th:data-creator="${creator}"
                                           th:data-docTypes="${docTypes}"
                                           th:data-appendix="${appendix}"/>
                                    </td>
                                    <td th:text="${docOutDTO.createDate}" />
                                    <td th:text="${docOutDTO.docTypeName}" />
                                    <td th:text="${docOutDTO.creatorFIO}" />
                                    <td th:text="${docOutDTO.state.name}" />
                                    <td><i th:if="${docOutDTO.appendix != null}" class="far fa-file-pdf" href="#"></i></td>
                                    <td>
                                        <a role="button"
                                           aria-pressed="true"
                                           data-toggle="modal"
                                           href="#deleteDocOut"
                                           th:onclick="'javascript:deleteDoc(\'' + ${docOutDTO.id} + '\');'">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>



                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item" th:classappend="${!(docs.getNumber() > 0) ? 'disabled' : ''}">
                                        <a th:class="page-link" th:href="@{'/docs/out?currentPage=' + ${docs.getNumber()}}" th:text="prev"/>
                                    </li>
                                    <li class="page-item" th:classappend="${docs.getNumber() + 1 == i ? 'active' : ''}" th:each="i : ${#numbers.sequence(1, docs.getTotalPages())}">
                                        <a class="page-link" th:href="@{'/docs/out?currentPage=' + ${i}}" th:text=${i} />
                                    </li>
                                    <li class="page-item" th:classappend="${!(docs.getNumber() < docs.getTotalPages() - 1) ? 'disabled' : ''}">
                                        <a th:class="page-link" th:href="@{'/docs/out?currentPage=' + ${docs.getNumber() + 2} }" th:text="next"/>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>



                    <!--<div class="modal fade" id="newDocOut">-->
                        <!--<div class="modal-dialog modal-dialog-centered modal-lg">-->
                            <!--<div class="modal-content">-->
                                <!--<form th:action="'/docs/out/card'" th:object="${docOutDTO}" method="post">-->
                                <!--&lt;!&ndash; Modal Header &ndash;&gt;-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal">×</button>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;<form th:action="@{/docs/out/card}" method="POST" th:object="${newDocOut}">&ndash;&gt;-->


                                <!--&lt;!&ndash; Modal body &ndash;&gt;-->
                                <!--<div class="modal-body">-->
                                    <!--<div class="row justify-content-center">-->
                                        <!--<h5>ИСХОДЯЩИЙ ДОКУМЕНТ: СОЗДАНИЕ</h5>-->
                                    <!--</div>-->

                                    <!--&lt;!&ndash;<input type="hidden" name="id" th:value="${newDocOut.id}"/>&ndash;&gt;-->

                                    <!--<div class="form-row">-->
                                        <!--<label class="col-sm-3 col-form-label">Дата регистрации</label>-->
                                        <!--<div class="col-sm-9">-->
                                            <!--<label class="col-sm-3 col-form-label" th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}" />-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <!--<div class="form-row">-->
                                        <!--<label for="contents" class="col-sm-3 col-form-label">Содержание</label>-->
                                        <!--<div class="col-sm-9">-->
                                            <!--<textarea  class="form-control" id="contents" rows="4" th:name="content"></textarea>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-row">-->
                                        <!--<label for="page" class="col-sm-3 col-form-label">Кол-во листов</label>-->
                                        <!--<div class="col-sm-2">-->
                                            <!--<input type="number" class="form-control" id="page" th:name="pages" />-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-2"></div>-->
                                    <!--</div>-->
                                    <!--<div class="form-row">-->
                                        <!--<label for="appendix" class="col-sm-3 col-form-label">Приложение</label>-->
                                        <!--<div class="col-sm-9">-->
                                            <!--<div class="custom-file">-->
                                                <!--<input type="file" class="custom-file-input" id="appendixx" th:name="appendix" />-->
                                                <!--<label class="custom-file-label" for="appendix"></label>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<script>-->
                                        <!--$('.custom-file-input').on('change', function() {-->
                                            <!--let fileName = $(this).val().split('\\').pop();-->
                                            <!--$(this).next('.custom-file-label').addClass("selected").html(fileName);-->
                                        <!--});-->
                                    <!--</script>-->

                                    <!--<div class="form-row">-->
                                        <!--<label for="note" class="col-sm-3 col-form-label">Примечания</label>-->
                                        <!--<div class="col-sm-9">-->
                                            <!--<input type="text" class="form-control" id="note" th:name="note" />-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<br>-->
                                    <!--<div class="row justify-content-center">-->
                                        <!--<h5>СВЯЗИ</h5>-->
                                    <!--</div>-->
                                    <!--<br>-->

                                    <!--<div class="form-row">-->
                                        <!--<label for="docin" class="col-sm-3 col-form-label">Входящий</label>-->
                                        <!--<div class="col-sm-9">-->
                                            <!--<select class="form-control" id="docin" href="#" th:name="docin">-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-row">-->
                                        <!--<label for="task" class="col-sm-3 col-form-label">Поручение</label>-->
                                        <!--<div class="col-sm-9">-->
                                            <!--<select class="form-control" id="task" href="#" th:name="task">-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</div>-->
                                <!--&lt;!&ndash; Modal footer &ndash;&gt;-->
                                <!--<div class="modal-footer">-->
                                    <!--<button type="submit" class="btn btn-primary">Зарегистрировать</button>-->
                                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>-->
                                <!--</div>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                    <!--<a role="button" aria-pressed="true" class="btn btn-secondary" data-toggle="modal" href="#showDoc">Редактировать</a>-->

                    <!--&lt;!&ndash; Modal show/edit document&ndash;&gt;-->
                    <!--<div class="modal fade" id="showDoc">-->
                        <!--<div class="modal-dialog modal-dialog-centered modal-lg">-->
                            <!--<div class="modal-content">-->
                                <!--&lt;!&ndash; Modal Header &ndash;&gt;-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal">×</button>-->
                                <!--</div>-->
                                <!--<form action="@{/docs/out/card/{id}" method="POST" th:object="${modDocOutDTO}">-->

                                     <!--&lt;!&ndash; Modal body &ndash;&gt;-->
                                    <!--<div class="modal-body">-->
                                        <!--<div class="row justify-content-center">-->
                                            <!--<h5>ИСХОДЯЩИЙ ДОКУМЕНТ: РЕДАКТИРОВАНИЕ</h5>-->
                                        <!--</div>-->

                                        <!--<div class="form-row">-->
                                            <!--<label class="col-sm-3 col-form-label">Дата регистрации</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<input type="date" id="datePicker" name="date" class="form-control" placeholder="date naissance">-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="creator" class="col-sm-3 col-form-label">Исполнитель</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<select class="form-control" id="creator" th:name="creator"></select>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="docType" class="col-sm-3 col-form-label">Тип документа</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<select class="form-control" id="docType" th:name="docType">-->
                                                    <!--&lt;!&ndash;<option>письмо</option>&ndash;&gt;-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="signer" class="col-sm-3 col-form-label">Согласующий</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<select class="form-control" id="signer" th:name="signer"></select>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="content" class="col-sm-3 col-form-label">Содержание</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<textarea  class="form-control" id="content" rows="4" th:name="content"></textarea>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-row">-->
                                            <!--<label for="pages" class="col-sm-3 col-form-label">Кол-во листов</label>-->
                                            <!--<div class="col-sm-2">-->
                                                <!--<input type="number" class="form-control" id="pages" th:name="pages" />-->
                                            <!--</div>-->
                                            <!--<div class="col-sm-2"></div>-->
                                        <!--</div>-->
                                        <!--<div class="form-row">-->
                                            <!--<label for="appendix" class="col-sm-3 col-form-label">Приложение</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<div class="custom-file">-->
                                                    <!--<input type="file" class="custom-file-input" id="appendix" th:name="appendix" />-->
                                                    <!--<label class="custom-file-label" for="appendix"></label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<script>-->
                                            <!--$('.custom-file-input').on('change', function() {-->
                                                <!--let fileName = $(this).val().split('\\').pop();-->
                                                <!--$(this).next('.custom-file-label').addClass("selected").html(fileName);-->
                                            <!--});-->
                                        <!--</script>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="note" class="col-sm-3 col-form-label">Примечания</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<input type="text" class="form-control" id="note" th:name="note" />-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<br>-->
                                        <!--<div class="row justify-content-center">-->
                                            <!--<h5>СВЯЗИ</h5>-->
                                        <!--</div>-->
                                        <!--<br>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="docin" class="col-sm-3 col-form-label">Входящий</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<select class="form-control" id="docin" href="#" th:name="docin">-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="task" class="col-sm-3 col-form-label">Поручение</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<select class="form-control" id="task" href="#" th:name="task">-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                    <!--&lt;!&ndash; Modal footer &ndash;&gt;-->
                                    <!--<div class="modal-footer">-->
                                        <!--<button type="submit" class="btn btn-primary">Зарегистрировать</button>-->
                                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>-->
                                    <!--</div>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<a role="button" aria-pressed="true" class="btn btn-secondary" data-toggle="modal" href="#apprv">На согласование</a>-->

                    <!--<div class="modal fade" id="apprv">-->
                        <!--<div class="modal-dialog modal-dialog-centered modal-lg">-->
                            <!--<div class="modal-content">-->
                                <!--&lt;!&ndash; Modal Header &ndash;&gt;-->
                                <!--<div class="modal-header">-->
                                    <!--<button type="button" class="close" data-dismiss="modal">×</button>-->
                                <!--</div>-->
                                <!--<form action="" method="get">-->
                                    <!--&lt;!&ndash; Modal body &ndash;&gt;-->
                                    <!--<div class="modal-body">-->
                                        <!--<div class="row justify-content-center">-->
                                            <!--<h5>СОГЛАСОВАНИЕ</h5>-->
                                        <!--</div>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="content" class="col-sm-3 col-form-label">Название</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<textarea  class="form-control" id="title" rows="4" th:name="title"></textarea>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="signer" class="col-sm-3 col-form-label">Согласующий</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<select class="form-control" id="signer" th:name="signer"></select>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-row">-->
                                            <!--<label class="col-sm-3 col-form-label">Дата</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<label class="col-sm-3 col-form-label" th:text="${#dates.format(#dates.createNow(), 'dd/mm/yyyy')}" />-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="appendix" class="col-sm-3 col-form-label">Приложение</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<div class="custom-file">-->
                                                    <!--<input type="file" class="custom-file-input" id="appendix" th:name="appendix" />-->
                                                    <!--<label class="custom-file-label" for="appendix"></label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<script>-->
                                            <!--$('.custom-file-input').on('change', function() {-->
                                                <!--let fileName = $(this).val().split('\\').pop();-->
                                                <!--$(this).next('.custom-file-label').addClass("selected").html(fileName);-->
                                            <!--});-->
                                        <!--</script>-->

                                        <!--<div class="form-row">-->
                                            <!--<label for="note" class="col-sm-3 col-form-label">Примечания</label>-->
                                            <!--<div class="col-sm-9">-->
                                                <!--<input type="text" class="form-control" id="note" th:name="note" />-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash; Modal footer &ndash;&gt;-->
                                    <!--<div class="modal-footer">-->
                                        <!--<button type="submit" class="btn btn-primary">Отправить</button>-->
                                        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>-->
                                    <!--</div>-->
                                <!--</form>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                </div>
            </div>

        </div>
    </div>
</div>

<script th:inline="javascript">

    $.dateCut = function(date) {
        var d = new Date(date);
        var day = d.getDate();
        var month = d.getMonth() + 1;
        var year = d.getFullYear();
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        var date = year + "-" + month + "-" + day;
        return date;
    };

    function deleteDocOut(id){
        $.ajax({
            url: "/docs/out/card/" + id,
            success: function (doc) {
                $('#delTitle').text('Удалить исходящий №:' + doc.number + ' ?');
                $('#delId').val(doc.id);
            }
        });
    }

    function openModal(id){
        $.ajax({
            url: "/docs/out/card/" + id,
            success: function (doc) {
                if (doc.id == null) {
                    $('#titleM').text('Исходящий ');
                    $('#createDateT').text($.dateCut(new Date()));
                } else {
                    $('#titleM').text('Исходящий №:' + doc.number + ' ' + doc.stateName);
                    $('#createDate').val(doc.createDate);
                    $('#createDateT').text($.dateCut(doc.createDate));
                }
                $('#id').val(doc.id);
                $('#creatorFIO').val(doc.creatorFIO);
                $('#docTypeId').val(doc.docTypeId);
                $('#signer').text(doc.signer);
                $('#content').text(doc.content);
                $('#pages').val(doc.pages);
                $('#appendix').val(doc.appendix);
                $('#note').val(doc.note);
                $('#isGenerated').val(doc.isGenerated);
                $('#number').val(doc.number);
                $('#regDate').val(doc.regDate);
                $('#stateId').val(doc.stateId);
                if (doc.taskId != null || doc.docInId != null) {
                    $('#communication').text('Связи');
                }
                if (doc.docInId != null) {
                    $('#docInLabel').text('Входящий ');
                    $('#docInId').text(doc.docInId);
                    $('#docInId').val(doc.docInId);
                }
                if (doc.taskId != null) {
                    $('#taskLabel').text('Поручение ');
                    $('#taskT').text(doc.taskId);
                    $('#taskId').val(doc.taskId);
                }

            }
        });
    }
</script>

<div class="modal fade"
     id="delDocOut"
     tabindex="-1"
     aria-hidden="true"
     data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form th:action="@{/docs/out/delete}" method="POST" id="delForm">

                    <!-- Hidden inputs -->
                    <input id="delId" name="id" type="hidden" class="form-control">

                    <div class="form-row">
                        <h5 class="modal-title" id="delTitle"></h5>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" form="delForm">Удалить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>

