<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Исходящие</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container-fluid">
    <div class="w-100">
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <i class="fas fa-book-dead"></i>
                Документооборот
            </a>
        </nav>
    </div>

    <div class="row">
        <div class="col-sm-2" >
            <div th:replace="~{sidebar}" />
        </div>
        <div class="col-sm-10" >
            <div class="row">
                <div class="col-sm-12" >
                    <a role="button"
                       aria-pressed="true"
                       class="btn btn-secondary"
                       data-toggle="modal"
                       href="#newDocOut"
                       th:data-docOutNew="${docOutNew}"
                       th:data-createDate="${createDate}"
                       th:data-creator="${creator}"
                       th:data-docTypes="${docTypes}"
                       th:data-signer="${signer}"
                       th:data-content="${content}"
                       th:data-pages="${pages}"
                       th:data-appendix="${appendix}"
                       th:data-note="${note}"
                       th:data-docin="${docin}"
                       th:data-task="${task}">Создать исходящий документ</a>
                    <!-- Modal new registration document-->
                    <div class="modal fade" id="newDocOut">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <form th:action="'/docs/out/card'" th:object="${docOutDTO}" method="post">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>
                                <!--<form th:action="@{/docs/out/card}" method="POST" th:object="${newDocOut}">-->

                                    <!--<input th:field="*{id}" type="hidden" class="form-control">-->
                                    <!--<input th:field="*{regDate}" type="hidden" class="form-control">-->
                                    <!--<input th:field="*{user}" type="hidden" class="form-control">-->
                                    <!--<input th:field="*{docType}" type="hidden" class="form-control">-->
                                    <!--<input th:field="*{state}" type="hidden" class="form-control">-->
                                <!--</form>-->
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="row justify-content-center">
                                        <h5>ИСХОДЯЩИЙ ДОКУМЕНТ: СОЗДАНИЕ</h5>
                                    </div>

                                    <!--<input type="hidden" name="id" th:value="${newDocOut.id}"/>-->

                                    <div class="form-row">
                                        <label class="col-sm-3 col-form-label">Дата регистрации</label>
                                        <div class="col-sm-9">
                                            <label class="col-sm-3 col-form-label" th:text="${#dates.format(#dates.createNow(), 'dd/mm/yyyy')}" />
                                        </div>
                                    </div>


                                    <!--<div class="form-row">-->
                                        <!--<label for="creator" class="col-sm-3 col-form-label">Исполнитель</label>-->
                                        <!--<div class="col-sm-9">-->
                                            <!--<select id="creator" th:field="${creator}" class="form-control">-->
                                                <!--<option th:each="creator : ${creators}"-->
                                                        <!--th:text="${creator.lastname}"-->
                                                        <!--th:value="${creator.id}"-->
                                                        <!--th:selected="${creator == docOutNew.creator}"/>-->
                                            <!--</select>-->
                                            <!--&lt;!&ndash;<select class="form-control" id="creator" th:name="creator"></select>&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-row">-->
                                        <!--<label for="docType" class="col-sm-3 col-form-label">Тип документа</label>-->
                                        <!--<div class="col-sm-9">-->
                                                <!--&lt;!&ndash;<input type="hidden" th:name="${docOut.docType}" th:value="${docOut.docType}"/>&ndash;&gt;-->
                                                <!--<select id="docType" th:field="${newDocOut.docType}" class="form-control">-->
                                                    <!--<option th:each="docType : ${docTypes}"-->
                                                            <!--th:value="${docOut.docType.id}"-->
                                                            <!--th:text="${docOut.docType.name}"-->
                                                            <!--th:selected="${docType == newDocOut.docType}"/>-->
                                                <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="form-row">-->
                                        <!--<label for="signer" class="col-sm-3 col-form-label">Согласующий</label>-->
                                        <!--<div class="col-sm-9">-->
                                            <!--&lt;!&ndash;<input type="hidden" th:name="${docOut.signer}" th:value="${docOut.signer}"/>&ndash;&gt;-->
                                            <!--<select id="signer" th:field="${newDocOut.signer}" class="form-control">-->
                                                <!--<option th:each="signer : ${signers}"-->
                                                        <!--th:text="${newDocOut.signer.name}"-->
                                                        <!--th:value="${newDocOut.signer.id}"-->
                                                        <!--th:selected="${signer == newDocOut.signer}"/>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <div class="form-row">
                                        <label for="contents" class="col-sm-3 col-form-label">Содержание</label>
                                        <div class="col-sm-9">
                                            <textarea  class="form-control" id="contents" rows="4" th:name="content"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label for="page" class="col-sm-3 col-form-label">Кол-во листов</label>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control" id="page" th:name="pages" />
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    <div class="form-row">
                                        <label for="appendixx" class="col-sm-3 col-form-label">Приложение</label>
                                        <div class="col-sm-9">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="appendixx" th:name="appendix" />
                                                <label class="custom-file-label" for="appendix"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <script>
                                        $('.custom-file-input').on('change', function() {
                                            let fileName = $(this).val().split('\\').pop();
                                            $(this).next('.custom-file-label').addClass("selected").html(fileName);
                                        });
                                    </script>

                                    <div class="form-row">
                                        <label for="note" class="col-sm-3 col-form-label">Примечания</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="note" th:name="note" />
                                        </div>
                                    </div>

                                    <br>
                                    <div class="row justify-content-center">
                                        <h5>СВЯЗИ</h5>
                                    </div>
                                    <br>

                                    <div class="form-row">
                                        <label for="docin" class="col-sm-3 col-form-label">Входящий</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="docin" href="#" th:name="docin">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <label for="task" class="col-sm-3 col-form-label">Поручение</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="task" href="#" th:name="task">
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <a role="button" aria-pressed="true" class="btn btn-secondary" data-toggle="modal" href="#showDoc">Редактировать</a>

                    <!-- Modal show/edit document-->
                    <div class="modal fade" id="showDoc">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>
                                <form action="@{/docs/out/card/{id}" method="POST" th:object="${modDocOutDTO}">

                                     <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row justify-content-center">
                                            <h5>ИСХОДЯЩИЙ ДОКУМЕНТ: РЕДАКТИРОВАНИЕ</h5>
                                        </div>

                                        <div class="form-row">
                                            <label class="col-sm-3 col-form-label">Дата регистрации</label>
                                            <div class="col-sm-9">
                                                <input type="date" id="datePicker" name="date" class="form-control" placeholder="date naissance">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <label for="creator" class="col-sm-3 col-form-label">Исполнитель</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="creator" th:name="creator"></select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <label for="docType" class="col-sm-3 col-form-label">Тип документа</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="docType" th:name="docType">
                                                    <!--<option>письмо</option>-->
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <label for="signer" class="col-sm-3 col-form-label">Согласующий</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="signer" th:name="signer"></select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <label for="content" class="col-sm-3 col-form-label">Содержание</label>
                                            <div class="col-sm-9">
                                                <textarea  class="form-control" id="content" rows="4" th:name="content"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <label for="pages" class="col-sm-3 col-form-label">Кол-во листов</label>
                                            <div class="col-sm-2">
                                                <input type="number" class="form-control" id="pages" th:name="pages" />
                                            </div>
                                            <div class="col-sm-2"></div>
                                        </div>
                                        <div class="form-row">
                                            <label for="appendix" class="col-sm-3 col-form-label">Приложение</label>
                                            <div class="col-sm-9">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="appendix" th:name="appendix" />
                                                    <label class="custom-file-label" for="appendix"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <script>
                                            $('.custom-file-input').on('change', function() {
                                                let fileName = $(this).val().split('\\').pop();
                                                $(this).next('.custom-file-label').addClass("selected").html(fileName);
                                            });
                                        </script>

                                        <div class="form-row">
                                            <label for="note" class="col-sm-3 col-form-label">Примечания</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="note" th:name="note" />
                                            </div>
                                        </div>

                                        <br>
                                        <div class="row justify-content-center">
                                            <h5>СВЯЗИ</h5>
                                        </div>
                                        <br>

                                        <div class="form-row">
                                            <label for="docin" class="col-sm-3 col-form-label">Входящий</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="docin" href="#" th:name="docin">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <label for="task" class="col-sm-3 col-form-label">Поручение</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="task" href="#" th:name="task">
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <a role="button" aria-pressed="true" class="btn btn-secondary" data-toggle="modal" href="#apprv">На согласование</a>

                    <div class="modal fade" id="apprv">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                </div>
                                <form action="" method="get">
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row justify-content-center">
                                            <h5>СОГЛАСОВАНИЕ</h5>
                                        </div>

                                        <div class="form-row">
                                            <label for="content" class="col-sm-3 col-form-label">Название</label>
                                            <div class="col-sm-9">
                                                <textarea  class="form-control" id="title" rows="4" th:name="title"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <label for="signer" class="col-sm-3 col-form-label">Согласующий</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="signer" th:name="signer"></select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <label class="col-sm-3 col-form-label">Дата</label>
                                            <div class="col-sm-9">
                                                <label class="col-sm-3 col-form-label" th:text="${#dates.format(#dates.createNow(), 'dd/mm/yyyy')}" />
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <label for="appendix" class="col-sm-3 col-form-label">Приложение</label>
                                            <div class="col-sm-9">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="appendix" th:name="appendix" />
                                                    <label class="custom-file-label" for="appendix"></label>
                                                </div>
                                            </div>
                                        </div>

                                        <script>
                                            $('.custom-file-input').on('change', function() {
                                                let fileName = $(this).val().split('\\').pop();
                                                $(this).next('.custom-file-label').addClass("selected").html(fileName);
                                            });
                                        </script>

                                        <div class="form-row">
                                            <label for="note" class="col-sm-3 col-form-label">Примечания</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="note" th:name="note" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Отправить</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <a role="button" aria-pressed="true" class="btn btn-secondary" href="#">Отозвать</a>
                    <a role="button" aria-pressed="true" class="btn btn-secondary" href="#">Сгенерировать</a>
                    <a role="button" aria-pressed="true" class="btn btn-secondary" href="#">Отправить</a>
                    <a role="button" aria-pressed="true" class="btn btn-secondary" data-toggle="modal" href="#confirm">Удалить</a>

                    <div id="confirm" class="modal hide fade">
                        <div class="modal-dialog modal-dialog-centered modal-sm">
                            <div class="modal-content">
                                 <!-- Modal body -->
                                 <div class="modal-body">
                                      <div class="row justify-content-center">
                                        <h6>УДАЛИТЬ ВЫБРАННОЕ?</h6>
                                      </div>
                                  </div>

                                <div class="modal-footer">
                                    <div class="form-row col-sm-8">
                                        <form th:action="@{/docs/out/delete}" th:object="${docOutDTO}" method="POST">
                                            <!--<form th:action="@{/docs/out/delete/{docOutDTO.id}" method="get">-->
                                            <button type="submit" class="btn btn-primary">Удалить</button>
                                            <button th:name="ok" th:text="'Сохранить'"></button>
                                        </form>

                                       <button type="button" data-dismiss="modal" class="btn btn-primary-close">Отмена</button>
                                     </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <input type="text" class="input-medium search-query" name="s" value="">
                    <button type="submit" class="add-on"> Поиск</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" >
                    <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=" ">
                                    </label>
                                </div>
                            </th>
                            <th>Номер</th>
                            <th>Дата</th>
                            <th>Тип документа</th>
                            <th>Отправитель</th>
                            <th>Статус</th>
                            <th>Адресат</th>
                            <th><i class="far fa-file"></i>Приложение</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="docOutDTO : ${docsOut.getContent()}">
                            <td><input type="checkbox" value=" " /></td>
                            <td>
                                <a role="button"
                                   aria-pressed="true"
                                   data-toggle="modal"
                                   href="#showDoc"
                                   th:text="${docOutDTO.number}"
                                   th:data-docOutDTO="${docOutDTO}"
                                   th:data-createDate="${createDate}"
                                   th:data-creator="${creator}"
                                   th:data-docTypes="${docTypes}"
                                   th:data-appendix="${appendix}"/>
                            </td>
                            <td th:text="${docOutDTO.createDate}" />
                            <td th:text="${docOutDTO.docType.name}" />
                            <td th:text="${docOutDTO.creator.lastName}" />
                            <td th:text="${docOutDTO.state.name}" />
                            <!--<td th:text="${contragents.search_name}" />-->
                            <td><i th:if="${docOutDTO.appendix != null}" class="far fa-file-pdf"></i></td>
                        </tr>
                        </tbody>
                    </table>



                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${!(docsOut.getNumber() > 0) ? 'disabled' : ''}">
                                <a th:class="page-link" th:href="@{'/docs/out?currentPage=' + ${docsOut.getNumber()}}" th:text="prev"/>
                            </li>
                            <li class="page-item" th:classappend="${docsOut.getNumber() + 1 == i ? 'active' : ''}" th:each="i : ${#numbers.sequence(1, docsOut.getTotalPages())}">
                                <a class="page-link" th:href="@{'/docs/out?currentPage=' + ${i}}" th:text=${i} />
                            </li>
                            <li class="page-item" th:classappend="${!(docsOut.getNumber() < docsOut.getTotalPages() - 1) ? 'disabled' : ''}">
                                <a th:class="page-link" th:href="@{'/docs/out?currentPage=' + ${docsOut.getNumber() + 2} }" th:text="next"/>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>


<!--<a role="button" aria-pressed="true" class="btn btn-secondary" data-toggle="modal" href="#showDoc">Редактировать</a>-->

<!--&lt;!&ndash; Modal show/edit document&ndash;&gt;-->
<!--<div class="modal fade" id="showDoc">-->
    <!--<div class="modal-dialog modal-dialog-centered modal-lg">-->
        <!--<div class="modal-content">-->
            <!--&lt;!&ndash; Modal Header &ndash;&gt;-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">×</button>-->
            <!--</div>-->
            <!--&lt;!&ndash;<form action="@{/docs/out/mod/card}" method="POST" th:object="${docOutDTO}">&ndash;&gt;-->

            <!--&lt;!&ndash; Hidden inputs &ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{id}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{createDate}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{creator}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{docType}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{signer}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{content}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{pages}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{appendix}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{note}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{isgenerated}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{number}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{regDate}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{state}" type="hidden" class="form-control">&ndash;&gt;-->
            <!--&lt;!&ndash;<input th:field="*{task}" type="hidden" class="form-control">&ndash;&gt;-->

            <!--&lt;!&ndash; Modal body &ndash;&gt;-->
            <!--<div class="modal-body">-->
                <!--<div class="row justify-content-center">-->
                    <!--<h5>ИСХОДЯЩИЙ ДОКУМЕНТ: РЕДАКТИРОВАНИЕ</h5>-->
                <!--</div>-->

                <!--<div class="form-row">-->
                    <!--<label class="col-sm-3 col-form-label">Дата создания</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--&lt;!&ndash;<input type="date" id="datePicker" name="date" class="form-control">&ndash;&gt;-->
                        <!--<label class="col-sm-3 col-form-label" th:text="${docOut.createDate}" />-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-row">-->
                    <!--<label for="creator" class="col-sm-3 col-form-label">Исполнитель</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--&lt;!&ndash;<select class="form-control" id="creator" th:name="creator"></select>&ndash;&gt;-->
                        <!--<label class="col-sm-3 col-form-label" th:text="${docOut.creator.lastName}" />-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-row">-->
                    <!--<label for="docType" class="col-sm-3 col-form-label">Тип документа</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<select class="form-control" id="docType" th:name="docType">-->
                            <!--&lt;!&ndash;<option>письмо</option>&ndash;&gt;-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-row">-->
                    <!--<label for="signer" class="col-sm-3 col-form-label">Согласующий</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<select class="form-control" id="signer" th:name="signer"></select>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-row">-->
                    <!--<label for="content" class="col-sm-3 col-form-label">Содержание</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<textarea  class="form-control" id="content" rows="4" th:name="content"></textarea>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-row">-->
                    <!--<label for="pages" class="col-sm-3 col-form-label">Кол-во листов</label>-->
                    <!--<div class="col-sm-2">-->
                        <!--<input type="number" class="form-control" id="pages" th:name="pages" />-->
                    <!--</div>-->
                    <!--<div class="col-sm-2"></div>-->
                <!--</div>-->
                <!--<div class="form-row">-->
                    <!--<label for="appendix" class="col-sm-3 col-form-label">Приложение</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<div class="custom-file">-->
                            <!--<input type="file" class="custom-file-input" id="appendix" th:name="appendix" />-->
                            <!--<label class="custom-file-label" for="appendix"></label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<script>-->
                    <!--$('.custom-file-input').on('change', function() {-->
                        <!--let fileName = $(this).val().split('\\').pop();-->
                        <!--$(this).next('.custom-file-label').addClass("selected").html(fileName);-->
                    <!--});-->
                <!--</script>-->

                <!--<div class="form-row">-->
                    <!--<label for="note" class="col-sm-3 col-form-label">Примечания</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="text" class="form-control" id="note" th:name="note" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;<div class="form-row" align="CENTER">&ndash;&gt;-->
                <!--<br>-->
                <!--<div class="row justify-content-center">-->
                    <!--<h5>СВЯЗИ</h5>-->
                <!--</div>-->
                <!--<br>-->

                <!--<div class="form-row">-->
                    <!--<label for="docin" class="col-sm-3 col-form-label">Входящий</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<select class="form-control" id="docin" href="#" th:name="docin">-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-row">-->
                    <!--<label for="task" class="col-sm-3 col-form-label">Поручение</label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<select class="form-control" id="task" href="#" th:name="task">-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
            <!--&lt;!&ndash; Modal footer &ndash;&gt;-->
            <!--<div class="modal-footer">-->
                <!--<button type="submit" class="btn btn-primary">Зарегистрировать</button>-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>-->
            <!--</div>-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<a role="button" aria-pressed="true" class="btn btn-secondary" data-toggle="modal" href="#apprv">На согласование</a>-->

<!--<div class="modal fade" id="apprv">-->
    <!--<div class="modal-dialog modal-dialog-centered modal-lg">-->
        <!--<div class="modal-content">-->
            <!--&lt;!&ndash; Modal Header &ndash;&gt;-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">×</button>-->
            <!--</div>-->
            <!--<form action="" method="get">-->
                <!--&lt;!&ndash; Modal body &ndash;&gt;-->
                <!--<div class="modal-body">-->
                    <!--<div class="row justify-content-center">-->
                        <!--<h5>СОГЛАСОВАНИЕ</h5>-->
                    <!--</div>-->

                    <!--<div class="form-row">-->
                        <!--<label for="content" class="col-sm-3 col-form-label">Название</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<textarea  class="form-control" id="title" rows="4" th:name="title"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-row">-->
                        <!--<label for="signer" class="col-sm-3 col-form-label">Согласующий</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<select class="form-control" id="signer" th:name="signer"></select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-row">-->
                        <!--<label class="col-sm-3 col-form-label">Дата</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<label class="col-sm-3 col-form-label" th:text="${#dates.format(#dates.createNow(), 'dd/mm/yyyy')}" />-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="form-row">-->
                        <!--<label for="appendix" class="col-sm-3 col-form-label">Приложение</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<div class="custom-file">-->
                                <!--<input type="file" class="custom-file-input" id="appendix" th:name="appendix" />-->
                                <!--<label class="custom-file-label" for="appendix"></label>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<script>-->
                        <!--$('.custom-file-input').on('change', function() {-->
                            <!--let fileName = $(this).val().split('\\').pop();-->
                            <!--$(this).next('.custom-file-label').addClass("selected").html(fileName);-->
                        <!--});-->
                    <!--</script>-->

                    <!--<div class="form-row">-->
                        <!--<label for="note" class="col-sm-3 col-form-label">Примечания</label>-->
                        <!--<div class="col-sm-9">-->
                            <!--<input type="text" class="form-control" id="note" th:name="note" />-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; Modal footer &ndash;&gt;-->
                <!--<div class="modal-footer">-->
                    <!--<button type="submit" class="btn btn-primary">Отправить</button>-->
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->