<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>DocIn</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
    <div class="w-100">
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <i class="fas fa-book-dead"></i>
                Документооборот
            </a>
        </nav>
    </div>

    <div class="row">
        <div class="col-sm-2" >
            <div th:replace="~{sidebar}" />
        </div>
        <div class="col-sm-10" >
            <div class="row">
                <div class="col-sm-12" >
                    <a role="button"
                       aria-pressed="true"
                       class="btn btn-secondary"
                       data-toggle="modal"
                       href="#newDoc"
                       th:data-newDocIn="${newDocIn}"
                       th:data-docTypes="${docTypes}"
                       th:data-departments="${departments}">Зарегистрировать</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" >
                    <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Номер</th>
                                <th>Дата</th>
                                <th>Тип документа</th>
                                <th>Отправитель</th>
                                <th>Статус</th>
                                <th><i class="far fa-file"></i></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="docIn : ${docs.getContent()}">
                                <td><a data-toggle="modal" href="#showDoc" th:text="${docIn.regNumber}" /></td> <!-- добавить в передачу модалки объект-->
                                <td th:text="${docIn.regDate}" />
                                <td th:text="${docIn.docType.name}" />
                                <td th:text="${docIn.sender}" />
                                <td th:text="${docIn.state.name}" />
                                <td><i th:if="${docIn.appendix != null}" class="far fa-file-pdf"></i></td>
                                <td>
                                    <a href="#"> <!-- ссыль на метод удаления -->
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${!(docs.getNumber() > 0) ? 'disabled' : ''}">
                                <a th:class="page-link" th:href="@{'/docs/in?currentPage=' + ${docs.getNumber()}}" th:text="prev"/>
                            </li>
                            <li class="page-item" th:classappend="${docs.getNumber() + 1 == i ? 'active' : ''}" th:each="i : ${#numbers.sequence(1, docs.getTotalPages())}">
                                <a class="page-link" th:href="@{'/docs/in?currentPage=' + ${i}}" th:text=${i} />
                            </li>
                            <li class="page-item" th:classappend="${!(docs.getNumber() < docs.getTotalPages() - 1) ? 'disabled' : ''}">
                                <a th:class="page-link" th:href="@{'/docs/in?currentPage=' + ${docs.getNumber() + 2} }" th:text="next"/>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>





<script>
$('#newDoc').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget)
  var newDocIn = button.data('newDocIn')
  var docTypes = button.data('docTypes')
  var departments = button.data('departments')
})
</script>

<!-- Modal new registration document-->
<div class="modal fade" id="newDoc">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <form th:action="@{/docs/in/card}" method="POST" th:object="${newDocIn}">

                <!-- Hidden inputs -->
                <input th:field="*{id}" type="hidden" class="form-control">
                <input th:field="*{regDate}" type="hidden" class="form-control">
                <input th:field="*{user}" type="hidden" class="form-control">
                <input th:field="*{docType}" type="hidden" class="form-control">
                <input th:field="*{state}" type="hidden" class="form-control">

                <!-- Modal body -->
                <div class="modal-body">
                    <h5 class="modal-title">Входящий документ</h5>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label">Дата регистрации</label>
                        <label class="col-sm-3 col-form-label" th:text="${#dates.format(#dates.createNow(), 'dd/mm/yyyy')}" />
                        <label class="col-sm-3 col-form-label">Регистратор</label>
                        <label class="col-sm-3 col-form-label" th:text="${newDocIn.user.lastName}" />
                    </div>
                    <div class="form-row">
                        <label for="department" class="col-sm-3 col-form-label">Подразделение-адресат</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="department" th:field="*{departmentId}">
                                <option th:each="dep : ${departments}" th:text="${dep.name}" th:value="${dep.id}"/>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="docType" class="col-sm-3 col-form-label">Тип документа</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="docType" th:field="*{docTypeId}">
                                <option th:each="docT : ${docTypes}" th:text="${docT.name}" th:value="${docT.id}"/>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="sender" class="col-sm-3 col-form-label">Отправитель</label>
                        <div class="col-sm-9">
                            <input th:field="*{sender}" type="text" class="form-control" id="sender" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="outgoingNumber" class="col-sm-3 col-form-label">Исх. номер</label>
                        <div class="col-sm-2">
                            <input th:field="*{outgoingNumber}" type="text" class="form-control" id="outgoingNumber" />
                        </div>
                        <div class="col-sm-2"></div>
                        <label for="outgoingDate" class="col-sm-2 col-form-label">Исх. дата</label>
                        <div class="col-sm-3">
                            <input th:field="*{outgoingDate}" type="date" class="form-control" id="outgoingDate" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="content" class="col-sm-3 col-form-label">Краткое Содержание</label>
                        <div class="col-sm-9">
                            <textarea th:field="*{content}" class="form-control" id="content" rows="4" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="pages" class="col-sm-3 col-form-label">Кол-во листов</label>
                        <div class="col-sm-2">
                            <input th:field="*{pages}" type="number" class="form-control" id="pages" />
                        </div>
                        <div class="col-sm-2"></div>
                        <label for="appendix" class="col-sm-2 col-form-label">Приложение</label>
                        <div class="col-sm-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="appendix" th:name="appendix" />
                                <label class="custom-file-label" for="appendix">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="note" class="col-sm-3 col-form-label">Примечания</label>
                        <div class="col-sm-9">
                            <input th:field="*{note}" type="text" class="form-control" id="note" />
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- TODO: подумать на счёт того, чтобы схлопнуть в одну модалку формы регистрации и просмотра/редактирования -->
<!-- Modal show/edit document-->
<div class="modal fade" id="showDoc">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <form action="" method="get">
                <!-- Modal body -->
                <div class="modal-body">
                    <h5 class="modal-title">Входящий документ ВХ-ххх</h5>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label">Дата регистрации</label>
                        <label class="col-sm-3 col-form-label">дд.мм.гггг</label>
                        <label class="col-sm-3 col-form-label">Регистратор</label>
                        <label class="col-sm-3 col-form-label">Пупкин П.П.</label>
                    </div>
                    <div class="form-row">
                        <label for="department_" class="col-sm-3 col-form-label">Подразделение-адресат</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="department_" th:name="department">
                                <option>ИТ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="docType_" class="col-sm-3 col-form-label">Тип документа</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="docType_" th:name="docType">
                                <option>письмо</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="sender_" class="col-sm-3 col-form-label">Отправитель</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="sender_" th:name="sender" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="outgoingNumber_" class="col-sm-3 col-form-label">Исх. номер</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="outgoingNumber_" th:name="outgoingNumber" />
                        </div>
                        <div class="col-sm-2"></div>
                        <label for="outgoingDate_" class="col-sm-2 col-form-label">Исх. дата</label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" id="outgoingDate_" th:name="outgoingDate" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="content_" class="col-sm-3 col-form-label">Краткое Содержание</label>
                        <div class="col-sm-9">
                            <textarea  class="form-control" id="content_" rows="4" th:name="content"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="pages_" class="col-sm-3 col-form-label">Кол-во листов</label>
                        <div class="col-sm-2">
                            <input type="number" class="form-control" id="pages_" th:name="pages" />
                        </div>
                        <div class="col-sm-2"></div>
                        <label for="appendix_" class="col-sm-2 col-form-label">Приложение</label>
                        <div class="col-sm-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="appendix_" th:name="appendix" />
                                <label class="custom-file-label" for="appendix">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="note_" class="col-sm-3 col-form-label">Примечания</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="note_" th:name="note" />
                        </div>
                    </div>
                    <div class="form-row">
                        <h5>Связи</h5>
                    </div>
                    <div class="form-row">
                        <label for="docOut" class="col-sm-3 col-form-label">Ответ</label>
                        <a id="docOut" href="#">ИСХ-ххх</a>
                    </div>
                    <div class="form-row">
                        <label for="note_" class="col-sm-3 col-form-label">Поручение</label>
                        <a id="task" href="#">3233245</a>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Зарегистрировать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
