<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>DocIn</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div id="header-div">
    <div th:replace="~{header}" />
</div>

<div class="wrapper">
    <div id="menu">
        <div th:replace="~{sidebar}" />
    </div>
    <div class="container-fluid">
        <div class="col-sm-12" >
            <div class="row">
                <div class="col-sm-12" >
                    <a role="button"
                       aria-pressed="true"
                       class="btn btn-secondary"
                       data-toggle="modal"
                       href="#showDoc"
                       th:onclick="'javascript:openModal(-1);'">Зарегистрировать</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" >
                    <table class="table table-bordered table-sm">
                        <thead class="thead-dark">
                            <tr>
                                <th>Номер</th>
                                <th>Дата</th>
                                <th>Тип документа</th>
                                <th>Отправитель</th>
                                <th>Статус</th>
                                <th><i class="far fa-file"></i></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <form th:action="@{/docs/in}" method="GET">
                                    <td><input th:value="${param.regNumber != null} ? ${param.regNumber}" class="form-control" th:name="regNumber" type="text"></td>
                                    <td class="inline">
                                        <input th:value="${param.regDateMin != null} ? ${param.regDateMin}" class="form-control" th:name="regDateMin" type="date">
                                        <input th:value="${param.regDateMax != null} ? ${param.regDateMax}" class="form-control" th:name="regDateMax" type="date">
                                    </td>
                                    <td>
                                        <select class="form-control" th:name="docTypeId">
                                            <option th:text="' '" th:value="null"/>
                                            <option th:each="docT : ${docTypes}" th:text="${docT.name}" th:value="${docT.id}" th:selected="${{param.docTypeId}} == ${{docT.id}}" />
                                        </select>
                                    </td>
                                    <td><input th:value="${param.sender != null} ? ${param.sender}" class="form-control" th:name="sender" type="text"></td>
                                    <td>
                                        <select class="form-control" th:name="stateId">
                                            <option th:text="' '" th:value="null"/>
                                            <option th:each="state : ${states}" th:text="${state.name}" th:value="${state.id}" th:selected="${{param.stateId}} == ${{state.id}}" />
                                        </select>
                                    </td>
                                    <td></td>
                                    <td><button type="submit" class="btn btn-primary">Применить</button></td>
                                </form>
                            </tr>
                            <tr th:each="docIn : ${docs.getContent()}">
                                <td>
                                    <a role="button"
                                       aria-pressed="true"
                                       data-toggle="modal"
                                       href="#showDoc"
                                       th:text="${docIn.regNumber}"
                                       th:onclick="'javascript:openModal(\'' + ${docIn.id} + '\');'" />
                                </td>
                                <td th:text="${#dates.format(docIn.regDate, 'yyyy-MM-dd')}" />
                                <td th:text="${docIn.docTypeName}" />
                                <td th:text="${docIn.sender}" />
                                <td th:text="${docIn.stateName}" />
                                <td><i th:if="${docIn.appendix != null}" class="far fa-file-pdf"></i></td>
                                <td>
                                    <a role="button"
                                       aria-pressed="true"
                                       data-toggle="modal"
                                       href="#delDoc"
                                       th:onclick="'javascript:deleteDoc(\'' + ${docIn.id} + '\');'">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${!(docs.getNumber() > 0) ? 'disabled' : ''}">
                                <a th:class="page-link" th:href="@{'/docs/in?currentPage=' + ${docs.getNumber()}}" th:text="Пред."/>
                            </li>
                            <li class="page-item" th:classappend="${docs.getNumber() + 1 == i ? 'active' : ''}" th:each="i : ${#numbers.sequence(1, docs.getTotalPages())}">
                                <a class="page-link" th:href="@{'/docs/in?currentPage=' + ${i}}" th:text=${i} />
                            </li>
                            <li class="page-item" th:classappend="${!(docs.getNumber() < docs.getTotalPages() - 1) ? 'disabled' : ''}">
                                <a th:class="page-link" th:href="@{'/docs/in?currentPage=' + ${docs.getNumber() + 2} }" th:text="След."/>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<!--После добавления всех скриптов вынести в отдельный файл-->
<script th:inline="javascript">

    $.dateCut = function(date) {
        var d = new Date(date);
        var day = d.getDate();
        var month = d.getMonth() + 1;
        var year = d.getFullYear();
        if (day < 10) {
            day = "0" + day;
        }
        if (month < 10) {
            month = "0" + month;
        }
        var date = year + "-" + month + "-" + day;
        return date;
    };

    function deleteDoc(id){
        $.ajax({
            url: "/docs/in/card/" + id,
            success: function (doc) {
                $('#delTitle').text('Входящий документ №:' + doc.regNumber + ' будет удален, вы настаиваете на удалении?');
                $('#delId').val(doc.id);
            }
        });
    }

    function openModal(id){
        $.ajax({
            url: "/docs/in/card/" + id,
            success: function (doc) {
                if (doc.id == null) {
                    $('#titleM').text('Входящий документ');
                    $('#regDateT').text($.dateCut(new Date()));
                } else {
                    $('#titleM').text('Входящий документ №:' + doc.regNumber + ' ' + doc.stateName);
                    $('#regDate').val(doc.regDate);
                    $('#regDateT').text($.dateCut(doc.regDate));
                    $('#outgoingDate').val($.dateCut(doc.outgoingDate));
                }
                $('#id').val(doc.id);
                $('#stateId').val(doc.stateId);
                $('#regNumber').val(doc.regNumber);
                $('#userId').val(doc.userId);
                $('#userFIO').text(doc.userFIO);
                $('#departmentId').val(doc.departmentId);
                $('#docTypeId').val(doc.docTypeId);
                $('#sender').val(doc.sender);
                $('#outgoingNumber').val(doc.outgoingNumber);
                $('#content').text(doc.content);
                $('#pages').val(doc.pages);
                $('#appendix').val(doc.appendix);
                $('#note').val(doc.note);
                if (doc.taskId != null || doc.docOutId != null) {
                    $('#communication').text('Связи');
                }
                if (doc.taskId != null) {
                    $('#taskLabel').text('Поручение ');
                    $('#taskT').text(doc.taskId);
                    $('#taskId').val(doc.taskId);
                }
<!--                if (doc.docOutId != null) {-->
<!--                    $('#docOutLabel').text('Ответ ');-->
<!--                    $('#docOutIdT').text(doc.docOutId);-->
<!--                    $('#docOutId').val(doc.docOutId);-->
<!--                }-->
            }
        });
    }
</script>

<!-- Modal delete document-->
<div class="modal fade"
     id="delDoc"
     tabindex="-1"
     aria-hidden="true"
     data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form th:action="@{/docs/in/del}" method="POST" id="delForm">

                    <!-- Hidden inputs -->
                    <input id="delId" name="id" type="hidden" class="form-control">

                    <div class="form-row">
                        <h5 class="modal-title" id="delTitle"></h5>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" form="delForm">Удалить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal edit document-->
<div class="modal fade"
     id="showDoc"
     tabindex="-1"
     aria-hidden="true"
     data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form th:action="@{/docs/in/card}" method="POST" id="docForm">

                    <!-- Hidden inputs -->
                    <input id="id" name="id" type="hidden" class="form-control">
                    <input id="userId" name="userId" type="hidden" class="form-control">
                    <input id="stateId" name="stateId" type="hidden" class="form-control">
                    <input id="regNumber" name="regNumber" type="hidden" class="form-control">
                    <input id="regDate" name="regDate" type="hidden" class="form-control">
                    <input id="taskId" name="taskId" type="hidden" class="form-control">
<!--                    <input id="docOutId" name="docOutId" type="hidden" class="form-control">-->

                    <div class="form-row">
                        <h5 class="modal-title" id="titleM"></h5>
                    </div>
                    <div class="form-row">
                        <label class="col-sm-3 col-form-label">Дата регистрации</label>
                        <label class="col-sm-2 col-form-label" id="regDateT" name="regDateT"></label>
                        <div class="col-sm-2"></div>
                        <label class="col-sm-2 col-form-label">Регистратор</label>
                        <label class="col-sm-3 col-form-label" id="userFIO" name="userFIO"></label>
                    </div>
                    <div class="form-row">
                        <label for="departmentId" class="col-sm-3 col-form-label">Подразделение-адресат</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="departmentId" name="departmentId">
                                <option th:each="dep : ${departments}" th:text="${dep.name}" th:value="${dep.id}"  />
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="docTypeId" class="col-sm-3 col-form-label">Тип документа</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="docTypeId" name="docTypeId">
                                <option th:each="docT : ${docTypes}" th:text="${docT.name}" th:value="${docT.id}"  />
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="sender" class="col-sm-3 col-form-label">Отправитель</label>
                        <div class="col-sm-9">
                            <input name="sender" type="text" class="form-control" id="sender" />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="outgoingNumber" class="col-sm-3 col-form-label">Исх. номер</label>
                        <div class="col-sm-2">
                            <input name="outgoingNumber" type="text" class="form-control" id="outgoingNumber" />
                        </div>
                        <div class="col-sm-2"></div>
                        <label for="outgoingDate" class="col-sm-2 col-form-label">Исх. дата</label>
                        <div class="col-sm-3">
                            <input name="outgoingDate" type="date" class="form-control" id="outgoingDate" required />
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="content" class="col-sm-3 col-form-label">Краткое Содержание</label>
                        <div class="col-sm-9">
                            <textarea name="content" class="form-control" id="content" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="pages" class="col-sm-3 col-form-label">Кол-во листов</label>
                        <div class="col-sm-2">
                            <input name="pages" type="number" class="form-control" id="pages" />
                        </div>
                        <div class="col-sm-2"></div>
                        <label for="appendix" class="col-sm-2 col-form-label">Приложение</label>
                        <div class="col-sm-3">
                            <div class="custom-file">
                                <input name="appendix" type="file" class="custom-file-input" id="appendix" />
                                <label class="custom-file-label" for="appendix">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="note" class="col-sm-3 col-form-label">Примечания</label>
                        <div class="col-sm-9">
                            <input name="note" type="text" class="form-control" id="note" />
                        </div>
                    </div>
                    <div>
                        <h5 id="communication"></h5>

<!--                        <div class="form-row">-->
<!--                            <label id="docOutLabel" for="docOutIdT" class="col-sm-3 col-form-label"></label>-->
<!--                            <a id="docOutIdT" href="#" name="docOutIdT"></a>&lt;!&ndash; добавить ссыль на нужный метод &ndash;&gt;-->
<!--                        </div>-->
                        <div class="form-row" >
                            <label id="taskLabel" for="taskId" class="col-sm-3 col-form-label"></label>
                            <a id="taskT" href="#" name="taskT"></a> <!-- добавить ссыль на нужный метод -->
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="docForm">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
            </div>

        </div>
    </div>
</div>

</body>
</html>
