<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>¯\_(ツ)_/¯</title>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body style="margin: 2%">
<h3>Что-то пошло(поехало) не так...</h3>
<br>

<table class="table">
    <tr>
        <th scope="row">Date</th>
        <td th:text="${timestamp}"/>
    </tr>
    <tr>
        <th scope="row">Path</th>
        <td th:text="${path}"/>
    </tr>
    <tr>
        <th scope="row">Error</th>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <th scope="row">Status</th>
        <td th:text="${status}"/>
    </tr>
    <tr>
        <th scope="row">Message</th>
        <td th:text="${message}"/>
    </tr>
    <tr>
        <th scope="row">Exception</th>
        <td th:text="${exception}"/>
    </tr>
</table>
</body>
</html>