<!-- "Шапка" системы -->
<body>
<div class="w-100">
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <!-- Лого и название системы -->
        <a class="navbar-brand" href="#">
            <i class="fas fa-book-dead"></i>
            Документооборот
        </a>

        <!-- Кнопка выхода -->
         <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
             <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                     <a href="/logout" class="link-header">
                        <i class="fas fa-sign-out-alt"></i>
                     </a>
                </li>
             </ul>
         </div>
    </nav>

</div>
</body>