<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Справочник подразделений</title>

    <!-- custom  -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

    <div class="w-100">
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
             <a class="navbar-brand" href="#">
                <i class="fas fa-book-dead"></i>
                Документооборот
              </a>
        </nav>
    </div>

<div class="wrapper">

    <div id="menu">
        <div th:replace="~{sidebar}" />
    </div>

    <div id="content" class="container-fluid">

        <div class="d-flex py-2"> <!-- Меню над таблицей -->
            <button class="btn btn-primary" type="submit">Создать</button>
        </div>

        <div id="mainTable"> <!-- Основная таблица реестра -->
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th>Активно?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:attr="data-document-id=${department.id}" th:each="department : ${departments}">
                        <td th:text="${department.id}"/>
                        <td th:text="${department.name}"/>
                        <td>
                            <i th:if="${department.isActive()}" class="fas fa-check"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>
